<section class="footer bg-main-light py-5">
    <div class="container">
        <h2>Get the FreshCart App</h2>
        <p class="fw-bolder text-muted py-2">We will send you a link, open it on your phone to download the app </p>
        <div class="d-flex hstack gap-5 my-5">
            <input type="email" class="form-control w-75" placeholder="Email..">
            <button class="bg-main btn text-white w-25">Send App Link</button>
        </div>
        <div class="Partners p-3 my-5">
            <h3>Payment Partners</h3>
        </div>
</div>
</section>
